In [47]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [48]:
df_iter = pd.read_csv('./yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [49]:
engine = create_engine("postgresql://postgres:password@localhost/ny_taxi")

In [50]:
engine.connect()

In [51]:
df = next(df_iter)

In [52]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [53]:
print(pd.io.sql.get_schema(df, 'trip_data', con=engine))

CREATE TABLE trip_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [54]:
df.head(n=0).to_sql(name='yellow_trip_data', con=engine, if_exists='replace')

In [55]:
df.to_sql(name='yellow_trip_data', con=engine, if_exists='append')

In [56]:
i = 0
while i < 13:
    df = next(df_iter)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name='yellow_trip_data', con=engine, if_exists='append')
    i+=1

#### Read the taxi zone lookup dataset

In [57]:
taxi_df = pd.read_csv('./taxi+_zone_zone_lookup.csv')

In [59]:
taxi_df.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

In [60]:
taxi_df.to_sql(name='taxi_zone', con=engine, if_exists='append')

#### Query for output

In [61]:
connection = engine.connect()

In [85]:
count_of_trips_made_on_january_15 = connection.execute("""select count(1) from yellow_trip_data where 
                           EXTRACT(MONTH FROM tpep_pickup_datetime) = 1 AND 
                           EXTRACT(DAY FROM tpep_pickup_datetime) = 15""").scalar()

In [86]:
count_of_trips_made_on_january_15

53024

In [99]:
largest_tip_cursor_for_each_day = connection.execute("""
            SELECT max(tip_amount) as max_tip_amount, DATE(tpep_pickup_datetime) from yellow_trip_data
            GROUP BY DATE(tpep_pickup_datetime) order by max_tip_amount DESC""")

In [100]:
for row in largest_tip_cursor_for_each_day:
    print(f"On {row[1].strftime('%Y-%m-%d')}, maximum tip is {row[0]}")

On 2021-01-20, maximum tip is 1140.44
On 2021-01-04, maximum tip is 696.48
On 2021-01-03, maximum tip is 369.4
On 2021-01-26, maximum tip is 250.0
On 2021-01-09, maximum tip is 230.0
On 2021-01-19, maximum tip is 200.8
On 2021-01-30, maximum tip is 199.12
On 2021-01-12, maximum tip is 192.61
On 2021-01-21, maximum tip is 166.0
On 2021-01-01, maximum tip is 158.0
On 2021-01-05, maximum tip is 151.0
On 2021-01-11, maximum tip is 145.0
On 2021-01-24, maximum tip is 122.0
On 2021-01-02, maximum tip is 109.15
On 2021-01-31, maximum tip is 108.5
On 2021-01-25, maximum tip is 100.16
On 2021-01-16, maximum tip is 100.0
On 2021-01-27, maximum tip is 100.0
On 2021-01-06, maximum tip is 100.0
On 2021-01-08, maximum tip is 100.0
On 2021-01-23, maximum tip is 100.0
On 2021-01-13, maximum tip is 100.0
On 2021-01-15, maximum tip is 99.0
On 2021-01-07, maximum tip is 95.0
On 2021-01-14, maximum tip is 95.0
On 2021-01-22, maximum tip is 92.55
On 2021-01-10, maximum tip is 91.0
On 2021-01-18, maximum tip is 90.0
On 2021-01-28, maximum tip is 77.14
On 2021-01-29, maximum tip is 75.0
On 2021-01-17, maximum tip is 65.0
On 2020-12-31, maximum tip is 4.08
On 2021-02-22, maximum tip is 1.76
On 2021-02-01, maximum tip is 1.54
On 2008-12-31, maximum tip is 0.0
On 2009-01-01, maximum tip is 0.0

In [128]:
day_with_largest_average_tip_in_january = connection.execute("""
            SELECT DATE(tpep_pickup_datetime) from yellow_trip_data where extract(MONTH from tpep_pickup_datetime) = 1
GROUP BY DATE(tpep_pickup_datetime) order by avg(tip_amount) DESC FETCH FIRST 1 ROW ONLY""").scalar()

In [129]:
print(f"Day with the largest average Tip in January is {day_with_largest_average_tip_in_january.strftime('%Y-%m-%d')}")

Day with the largest average Tip in January is 2021-01-03

In [119]:
most_popular_destination_jan_14 = connection.execute("""
            select (select st."Zone" from taxi_zone st where st."LocationID"=y."DOLocationID") as zone from yellow_trip_data y RIGHT JOIN taxi_zone t ON
t."Zone"='Central Park'
WHERE extract(MONTH from tpep_pickup_datetime) = 1 AND extract(DAY from tpep_pickup_datetime) = 14 AND y."PULocationID"=t."LocationID"
GROUP BY y."DOLocationID", zone ORDER BY count("DOLocationID") DESC""").scalar()

In [120]:
print(f"Most popular location for passengers picked up on January 14 is {most_popular_destination_jan_14}")

Most popular location for passengers picked up on January 14 is Upper East Side South

In [123]:
largest_pickup_drop_off = connection.execute("""
            SELECT t1."Zone" as pickup_zone, CASE WHEN t2."Zone" is NULL THEN 'Unknown' ELSE t2."Zone" END AS destination_zone  from yellow_trip_data y
 INNER JOIN taxi_zone t1 on t1."LocationID"= y."PULocationID" inner join taxi_zone t2 on t2."LocationID"=y."DOLocationID"
GROUP BY 1,2 order by avg(total_amount) DESC LIMIT 1""").first()

In [127]:
print(f"{largest_pickup_drop_off[0]} / {largest_pickup_drop_off[1]}")

Alphabet City / Unknown

In [126]:
print(f"Largest pickup-dropoff pair is {largest_pickup_drop_off[0]} / {largest_pickup_drop_off[1]}")

Largest pickup-dropoff pair is Alphabet City / Unknown